.hero__overlay{
    background: rgba(255,255,255,0.75);
}
*{
    &:hover{
        transition: all ease-in 400ms;
    }
}
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@keyframes spinner {
    to {transform: rotate(360deg);}
}
   
.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
    animation: spinner .8s ease infinite;
}