<template>
    <div>
        <div :class="{'flex items-start' : responseBirthchart}" class="ease-out duration-500">
            <div class="my-10 flex flex-col ml-12 ease-out duration-500" :class="{'ml-32 items-center' : !responseBirthchart, 'items-start' : responseBirthchart}" id="chart__calculator__container">
                <h2 class="text-3xl hide text-silver-500" id="chart__calculator_title">Chart Calculator</h2>
                <div class="flex flex-col">
                    <div class="flex flex-col py-2 border-b-2 border-gold-500">
                        <h3 class="text-xl text-gray-600 pt-2">Birthday: {{labels.day}} / {{labels.month}} / {{labels.year}}</h3>
                        <div class="flex flex-inline flex-start ease-out duration-1000" :class="{'hidden' : loadingBirthchart}">
                            <select name="day" v-model="day" class="text-xl border border-gold-400 rounded ml-2">
                                <option v-for="(d, index) in days" :value="index"> {{d}} </option>
                            </select>
                            <select name="month" v-model="month" class="text-xl border border-gold-400 rounded mx-1">
                                <option v-for="(m, index) in months" :value="index"> {{m}} </option>
                            </select>
                            <select name="day" v-model="year" class="text-xl border border-gold-400 rounded mr-1">
                                <option v-for="year in years" :value="year"> {{year}} </option>
                            </select>
                        </div>
                    </div>
                    <div class="flex flex-col py-2 border-b-2 border-gold-500">
                        <h3 class="text-xl text-gray-600 pt-2">Birth time: {{labels.hour}} : {{labels.minute}}</h3>
                        <div class="flex flex-inline flex-start ease-out duration-1000" :class="{'hidden' : loadingBirthchart}">
                            <div class="flex flex-inline">
                                <select name="hour" v-model="hour" class="text-xl border border-gold-400 rounded ml-1">
                                    <option v-for="(h, index) in hours" :value="index"> {{h}}</option>
                                </select>
                                &nbsp; : &nbsp; 
                                <select name="minute" v-model="minute" class="text-xl border border-gold-400 rounded mr-1">
                                    <option v-for="m in minutes" :value="m"> {{m}}</option>
                                </select>
                            </div>
                            <label class="text-silver-500">
                                | <input type="checkbox" v-model="unkown_time"> Unkown Time
                            </label>
                        </div>
                        <p class="text-xs italic text-gray-400 ease-out duration-1000" :class="{'hidden' : loadingBirthchart}"> Info: midnight (24) = 00 am, midday (12) = 12 pm. </p>
                    </div>
                    <div class="flex flex-col py-2 border-b-2 border-gold-500">
                        <h3 class="text-xl text-gray-600">Birth Location: {{labels.city}}</h3>
                        <div class="pt-2 w-full ease-out duration-1000" :class="{'hidden' : loadingBirthchart}">
                            <input type="text" class="w-full py-1 px-2 rounded border border-gold-700" id="geolocation_input">
                        </div>
                        <p class="text-xs italic text-gray-400 ease-out duration-1000" :class="{'hidden' : loadingBirthchart}"> Uses Google Geocoding and Timezone.</p>
                    </div>
                    <div class="flex items-center py-2 w-full relative">
                        <button type="button" 
                            class="border py-2 px-4 w-full rounded border-gold-600 hover:border-gold-500 hover:bg-silver hover:text-white text-silver-500" 
                            v-on:click="submit"  
                            v-html="computedSubmitHtml"
                            :class="{'hidden' : loadingBirthchart, 'border-gold-500 bg-silver text-white': submitAnimate}"></button>
                        <quickchart :data="birthchartData.data" v-if="responseBirthchart"></quickchart>
                    </div>
                </div>
            </div>
            <div :class="{'ml-12 mr-12 ease-out duration-500' : responseBirthchart}">
                <birthchart :data="birthchartData.data" v-if="responseBirthchart"></birthchart>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: function()
    {
        return {
            days: [],
            _days: [],
            months: [],
            years: [],
            hours: [],
            minutes: [],
            startYear: 1910,
            day: 4 - 1,
            month: 11 - 1,
            year: 1994,
            hour: 0,
            minute: 0,
            lat: 0,
            lng: 0,
            unkown_time: false,
            geocoder: {},
            autocomplete: {},
            timezone: 0,
            labels: {
                day: "day",
                month: "month",
                year: "year",
                hour: "hour",
                minute: "minute",
                city: ""
            },
            responseBirthchart: false,
            loadingBirthchart: false,
            submitAnimate: false,
            birthchartData: null
        }
    },
    props:{
        api_key: String
    },
    mounted() {
        var self = this

        // makes the function initMap global available under the vue scope
        window.initAutocomplete = function () { self.initAutocomplete() }

        //init google geocoging script include
        var script = document.createElement("script");
        script.async = true;
        script.defer = true;
        script.src = "https://maps.googleapis.com/maps/api/js?key="+this.api_key+"&libraries=places&callback=initAutocomplete";
        document.getElementsByTagName("head")[0].appendChild(script);
        //end google geocoding script include

        this.days = [
            '01','02','03','04','05','06','07','08','09',
            '10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31'
        ];
        this._days = this.days;
        this.months = ['January','Februry','March','April','May','June','July','August','September','October','November','December'];
        for(var i = new Date().getFullYear(); i >= this.startYear; i--)
        {
            this.years.push(i);
        }
        var days = this.daysInMonth(this.month + 1, this.year);
        this.days = this._days.slice(0, days)

        this.hours = [
            '00 am', '01 am', '02 am', '03 am', '04 am', '05 am', '06 am', '07 am', '08 am', '09 am', '10 am', '11 am', 
            '12 pm', '13 = 01 pm', '14 = 02 pm', '15 = 03 pm', '16 = 04 pm', '17 = 05 pm', '18 = 06 pm', '19 = 07 pm', '20 = 08 pm', '21 = 09 pm', '22 = 10 pm', '23 = 11 pm'
        ];

        for(var i = 0; i <= 59; i++)
        {
            this.minutes.push(i);
        }
    },
    computed: {
        computedSubmitHtml: function(){
            return this.submitAnimate ? "<i class='fa fa-spinner spinner text-gold-500'></i>" : 'Submit'
        }
    },
    watch: {
        month: function(val)
        {
            var _month = val + 1;
            var days = this.daysInMonth(_month, this.year);
            this.days = this._days.slice(0, days)
            if(this.day > days)
            {
                //not working properly fix later
                this.day = 1;
            }
            this.labels.month = this.months[val];

        },
        year: function(val)
        {
            var days = this.daysInMonth(this.month + 1, val);
            this.days = this._days.slice(0, days)
            if(this.day > days)
            {
                //not working properly fix later
                this.day = 1;
            }
            this.labels.year = this.years[ new Date().getFullYear() - val];

        },
        day: function(val)
        {
            this.labels.day = this._days[val];
        },
        hour: function(val)
        {
            this.labels.hour = this.hours[val]
        },
        minute: function(val)
        {
            this.labels.minute = this.minutes[val]
        }
    },
    methods: {
        daysInMonth: function(month, year) {
            return new Date(year, month, 0).getDate();
        },
        updateNumberOfDays: function(month, year){
            this.days = this.daysInMonth(month, year)
        },
        initAutocomplete: function() {
            this.geocoder = new google.maps.Geocoder();
            this.autocomplete = new google.maps.places.Autocomplete(
                document.getElementById('geolocation_input'), 
                {
                    types: ['geocode']
                }
            );

            this.autocomplete.addListener('place_changed', this.fillInAddress);
        },
        fillInAddress: function() {
            var place = this.autocomplete.getPlace();
            this.timezone = (place.utc_offset_minutes / 60) - 1;
            this.lat = place.geometry.location.lat()
            this.lng = place.geometry.location.lng()
            this.labels.city = place.formatted_address
        },
        submit: function(){
            this.submitAnimate = true
            this.labels.year = this.years[ new Date().getFullYear() - this.year];
            this.labels.month = this.months[this.month];
            this.labels.day = this._days[this.day];
            this.labels.hour = this.hours[this.hour]
            this.labels.minute = this.minutes[this.minute]
            var self = this
            axios.post('astrology', {
                day: this.day + 1,
                month: this.month + 1,
                year: this.year,
                timezone: this.timezone,
                unkown_time: this.unkown_time,
                lat: this.lat,
                lng: this.lng,
                hour: this.hour,
                minute: this.minute
            })
            .then(function(data){
                self.loadingBirthchart = true
                self.responseBirthchart = true;
                self.submitAnimate = false
                
                self.birthchartData = data
            })
            .catch(function(error){
                console.log(error)
                self.loadingBirthchart = false
                self.submitAnimate = false
            });
        }
    }

}
</script>