<template>
    <div class="my-10">
        <h3 class="text-silver-500">Results</h3>
    </div>
</template>
<script>
export default {
    props: ['data'],
    data: function(){
        return {

        }
    },
    methods: {
        
    },
    watch: {

    }
}
</script>