<template>
    <div class="my-10">
        <ul class="text-silver-500">
            <li v-for="planet in data.planets"> 
                {{planet.sign.planet_name}} {{planet.planet_house.house}} in {{planet.sign.name}} 
                ({{planet.sign.quality}} {{planet.sign.element}}) 
                {{planet.sign.planet_name}} in house 
            </li>
        </ul>
    </div>
</template>
<script>
export default {
    props: ['data'],
    data: function(){
        return {

        }
    },
    methods: {

    },
    watch: {

    }
}
</script>