<template>
    
</template>
<script>
export default {
    props: {
        view_data: {}
    },
    data: function(){
        return {

        }
    },
    methods: {

    },
    watch: {

    }
}
</script>